    body {
      background: linear-gradient(to right, #9dc896, #30ab97);
      overflow: hidden; /* Prevent page from being scrollable */
    }
    .carousel-item img {
      max-width: 100%; /* Cover only half of the page */
      height: auto;
      float: left; /* Float image to the left */
    }
    .carousel-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .carousel-caption h1 {
      font-size: 50px;
      font-weight: bold;

      color: #ff3131;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #ffd34e; /* Can be changed in the live sample */
      position: absolute;
       }
    .login-section {
      height: 100vh;
      overflow-y: auto;